<footer class="footer">
  <small>
    Adwords keywords monitoring application by Kirill Sukhorukov. Special for Nimbl3. 2015.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About & Contact",  'http://linkedin.com/in/ksukhorukov' %></li>
    </ul>
  </nav>
</footer>