    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "AdWords monitoring application", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Keywords",   keywords_path %></li>
            <li><%= link_to "Statistics",  statistics_path %></li>
            <li><%= link_to "Quering",  new_query_path %></li>
          </ul>
        </nav>
      </div>
    </header>